.customClassForm {
  .watchName {
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
    svg {
      font-size: 1.5rem;
    }
    input {
      width: 30%;
      border-radius: 5px;
      padding: 10px 15px;
    }
  }
  .category {
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
    svg {
      font-size: 1.5rem;
    }
    select {
      width: 30%;
      padding: 10px 15px;
    }
  }
  .uploadImage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    .clickHere {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      padding-bottom: 1rem;
      svg {
        font-size: 1.5rem;
      }
    }
    .uploadHere {
      border: 1px solid black;
      //   visibility: hidden;
    }
    .deleteBtn {
      margin-left: 1rem;
      border-radius: 50px;
      background-color: orange;
      color: white;
    }
  }
  .uploadBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      border: 2px solid #fba824;
      background-color: #f99508;
      border-radius: 0.9em;
      padding: 15px 20px;
      transition: all ease-in-out 0.2s;
      font-size: 16px;
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-weight: 600;
      }
      &:hover {
        background-color: #ffa652;
      }
    }
    // button {
    //   padding: 10px 30px;
    // }
  }
}
