.debit-bg {
    background-image: url("../img/debit-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100rem;
    width: 100%;
    height: 70vh;
}

@media screen and (max-width: 600px) {
    .debit-bg {
        display: none;
    }
}