.hero {
    .hero-left {
        margin-top: 60px !important;
        .hero-btn {
            cursor: pointer;
            width: 40%;
            background-color: $circleColor;
            color: white;
            padding: 10px 20px;
            border-radius: 50px;
            text-align: center;
            &:hover {
                background-color: $fontColorDark;
            }
        }
        .hero-left-content {
            line-height: 6ch;
        }
        text-transform: uppercase;
        h1 {
            font-size: 5rem;
        }
        span {
            margin: 10px !important;
            font-size: 8rem;
            color: $circleColor;
            font-weight: bold;
        }
        p {
            // text-align: center;
            font-size: 13px;
            margin-left: 40px;
        }
    }
    .hero-right {
        img {
            width: 400px;
        }
    }
}

@media screen and (max-width: 600px) {
    .hero {
        .hero-left {
            .hero-btn {
                width: 50% !important;
                padding: 10px 20px !important;
            }
            .hero-left-content {
                line-height: 6ch;
            }
            text-transform: uppercase;
            h1 {
                font-size: 1rem;
            }
            span {
                font-size: 3rem !important;
            }
            p {
                font-size: 13px;
            }
        }
        .hero-right {
            display: none;
        }
    }
}