.nav-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: $circleColor;
    position: absolute;
    margin: -9rem 0px 2px 0rem;
}

nav {
    .nav-item a {
        color: $fontColorDark;
        font-weight: 400;
    }
    .active-link {
        background-color: black;
        color: white;
        padding: 5px 30px !important;
        border-radius: 5px;
        margin-top: 5px;
        color: white !important;
        &:hover {
            color: white;
        }
    }
    .nav-icons {
        text-align: center;
        margin: auto;
        li a {
            color: black;
        }
        .items {
            position: relative;
            width: 20px;
            margin: auto;
            .totalProducts {
                position: absolute;
                background-color: black;
                color: white;
                font-size: 12px;
                width: 20px;
                height: 20px;
                margin: -30px 20px !important;
                border-radius: 50%;
            }
        }
    }
    .showCart {
        width: 350px;
        height: 100vh;
        position: fixed;
        background-color: $circleColor;
        top: 0;
        right: 0;
        .showCartContainer {
            margin-top: 20px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .Backicon,
            .removeItems,
            p {
                color: white;
            }
            .Backicon {
                font-size: 30px !important;
            }
            P {
                font-weight: bold;
                font-size: 25px;
                letter-spacing: 2px;
            }
            .removeItems {
                padding: 5px 10px;
                background-color: black;
                border-radius: 10px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .nav-circle {
        display: none;
    }
}