@mixin center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.winterSec {
    padding: 50px 0px;
    // margin: 100px 0px;
    .winterLeft {
        @include center();
        img {
            width: 350px;
        }
    }
    .winterRight {
        margin-top: 20px;
        .heading {
            h2 {
                font-size: 40px;
                span {
                    color: $circleColor;
                }
            }
        }
        .para {
            width: 70%;
            text-align: justify;
        }
        .btn {
            background-color: $circleColor;
            color: white;
            padding: 10px 30px;
            border-radius: 50px;
            text-transform: uppercase;
        }
    }
    .wacthHead {
        @include center();
        text-transform: uppercase;
        line-height: 2ch;
        h1 {
            font-size: 25px;
        }
        span {
            font-size: 50px;
            font-weight: bold;
            color: $circleColor;
        }
    }
    .watchBtnContent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .watchBtnBg {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: white;
            width: 110px;
            height: 130px;
            // padding: 20px 30px;
            border: none;
            border-radius: 10px;
            margin-top: 50px !important;
            cursor: pointer;
            box-shadow: -5px 10px 5px 0px rgba(0, 0, 0, 0.23);
            -webkit-box-shadow: -5px 10px 5px 0px rgba(0, 0, 0, 0.23);
            -moz-box-shadow: -5px 10px 5px 0px rgba(0, 0, 0, 0.23);
            .watchIcnon {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $circleColor;
                color: white;
                font-size: 30px;
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
            &:hover {
                background-color: $circleColor;
                .watchIcnon {
                    background-color: white;
                    color: rgb(36, 36, 36);
                }
                .watchName {
                    color: white;
                }
            }
            &:focus {
                background-color: $circleColor;
                .watchIcnon {
                    background-color: white;
                    color: rgb(36, 36, 36);
                }
                .watchName {
                    color: white;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .winterLeft {
        img {
            width: 300px !important;
        }
    }
    .winterRight {
        @include center();
        .heading {
            text-align: center;
            h2 {
                font-size: 25px;
                font-weight: 500;
            }
        }
    }
    .watchBtnContent {
        overflow-x: scroll;
        .watchBtnBg {
            margin-left: 10px;
            padding: 20px 30px;
            .watchIcnon {
                color: white;
                width: 50px;
                height: 50px;
            }
            &:focus {
                margin: 20px 10px 20px 20px;
            }
        }
    }
}