@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

.nav-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #f15a29;
  position: absolute;
  margin: -9rem 0px 2px 0rem;
}

nav .nav-item a {
  color: #141414;
  font-weight: 400;
}
nav .active-link {
  background-color: black;
  color: white;
  padding: 5px 30px !important;
  border-radius: 5px;
  margin-top: 5px;
  color: white !important;
}
nav .active-link:hover {
  color: white;
}
nav .nav-icons {
  text-align: center;
  margin: auto;
}
nav .nav-icons li a {
  color: black;
}

.mobTop {
  display: none;
}

.mobcontent {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.items {
  position: relative;
  width: 20px;
  margin: auto;
}
.items .totalProducts {
  position: absolute;
  background-color: black;
  color: white;
  font-size: 12px;
  text-align: center;
  width: 20px;
  height: 20px;
  margin: -30px 20px !important;
  border-radius: 50%;
}

.showCart {
  width: 350px;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
}
.showCart .containerrr {
  background-color: #282a2c;
  height: 100vh;
  border-radius: 20px 20px;
}
.showCart .showCartContainer {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.showCart .showCartContainer .Backicon,
.showCart .showCartContainer p {
  color: black;
}
.showCart .showCartContainer .removeItems {
  color: white;
}
.showCart .showCartContainer .Backicon {
  font-size: 25px !important;
}
.showCart .showCartContainer P {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
}
.showCart .showCartContainer .removeItems {
  padding: 5px 10px;
  background-color: black;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .showCart {
    width: 320px !important;
  }
  nav {
    display: none !important;
  }
  .mobTop {
    display: block;
  }
}
.hero .hero-left {
  margin-top: 60px !important;
  text-transform: uppercase;
}
.hero .hero-left .hero-btn {
  cursor: pointer;
  width: 40%;
  background-color: #f15a29;
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  text-align: center;
}
.hero .hero-left .hero-btn:hover {
  background-color: #141414;
}
.hero .hero-left .hero-left-content {
  line-height: 6ch;
}
.hero .hero-left h1 {
  font-size: 5rem;
}
.hero .hero-left span {
  margin: 10px !important;
  font-size: 8rem;
  color: #f15a29;
  font-weight: bold;
}
.hero .hero-left p {
  font-size: 13px;
  margin-left: 40px;
}
.hero .hero-right img {
  width: 400px;
}

@media screen and (max-width: 600px) {
  .hero .hero-left {
    text-transform: uppercase;
  }
  .hero .hero-left .hero-btn {
    width: 50% !important;
    padding: 10px 20px !important;
  }
  .hero .hero-left .hero-left-content {
    line-height: 6ch;
  }
  .hero .hero-left h1 {
    font-size: 1rem;
  }
  .hero .hero-left span {
    font-size: 3rem !important;
  }
  .hero .hero-left p {
    font-size: 13px;
  }
  .hero .hero-right {
    display: none;
  }
}
.proHeading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 80%;
}
.proHeading h3 {
  text-transform: capitalize;
  font-size: 40px;
  font-weight: bold;
}

.mainRow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainRow .product-right {
  display: flex;
  align-items: center;
  text-align: center;
  overflow-x: scroll;
  width: 90%;
}
.mainRow .product-right::-webkit-scrollbar {
  display: none;
}
.mainRow .product-left .contentDiv {
  background-color: orange;
  width: 300px;
  height: 350px;
  border-radius: 50px;
}

.ProductCard {
  background-color: white;
  width: 300px;
  height: 350px;
  border-radius: 10px;
}
.ProductCard .product-img {
  position: relative;
}
.ProductCard .product-img .wishlist {
  position: absolute;
  top: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.ProductCard .product-img .wishlist .sells {
  background-color: rgb(255, 59, 59);
  color: white;
  padding: 2px 10px;
  border-radius: 5px;
}
.ProductCard .product-img .icon {
  font-size: 20px;
  stroke-width: 0.9px;
}
.ProductCard .product-img img {
  width: 300px;
  height: 200px;
  border-radius: 10px 10px 0px 0px;
}
.ProductCard .pro-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ProductCard .pro-details .title {
  font-size: 20px;
  font-weight: bold;
}
.ProductCard .pro-details2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ProductCard .pro-details2 .mainColor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.ProductCard .pro-details2 .mainColor .color1 {
  background-color: white;
  border: 2px solid orange;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.ProductCard .pro-details2 .mainColor .color2 {
  background-color: white;
  border: 2px solid blue;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.ProductCard .pro-details2 .mainColor .color3 {
  background-color: white;
  border: 2px solid red;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.ProductCard .pro-details2 .btn-shopping {
  background-color: #f15a29;
  color: white;
  font-size: 20px;
  border-radius: 50%;
}

.div {
  position: absolute;
  overflow-y: scroll;
  height: 400px;
  padding-bottom: 10px;
}
.div::-webkit-scrollbar {
  display: none;
}

.cartitems {
  margin-top: 30px;
  display: flex;
  width: 320px;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  background-color: #2e3033;
  color: white;
}
.cartitems .cartitemImg {
  display: flex;
}
.cartitems .cartitemImg img {
  border-radius: 50%;
}
.cartitems .cartitemImg .carritemConten {
  font-size: 15px;
  margin-left: 5px;
}
.cartitems .cartitemQty {
  display: flex;
}
.cartitems .cartitemQty P {
  width: 25px;
  background-color: orange;
  text-align: center;
  border-radius: 50%;
}

.cartContainer button {
  top: 90%;
  position: absolute;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f15a29;
  padding: 8px 0px;
  border: none;
  color: white;
  border-radius: 50px;
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  .cartitems {
    width: 300px !important;
  }
}
.debit-bg {
  background-image: url("../img/debit-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100rem;
  width: 100%;
  height: 70vh;
}
.debit-bg .debit-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100%;
  color: white;
}
.debit-bg .debit-content .debit-title {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.debit-bg .debit-content .debit-para {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}
.debit-bg .debit-content .debit-para span {
  color: #f15a29;
}
.debit-bg .debit-content .debit-time {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.debit-bg .debit-content .debit-time .time-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #f15a29;
  width: 100px;
  height: 150px;
}
.debit-bg .debit-content .debit-time .time-content div:nth-child(1) {
  font-size: 30px;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .debit-bg .debit-time {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .debit-bg .debit-time .time-content {
    width: 70px !important;
    height: 100px !important;
  }
  .debit-bg .debit-time .time-content div:nth-child(1) {
    font-size: 25px;
    font-weight: bold;
  }
  .debit-bg .debit-time .time-content div:nth-child(2) {
    font-size: 10px !important;
  }
}
.mobHeader {
  display: none;
}

.mainMob {
  position: fixed;
  bottom: 0%;
  background-color: #f15a29;
  width: 100%;
  height: 50px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.mainMob .icon {
  font-size: 30px;
}

@media screen and (max-width: 600px) {
  .mobHeader {
    display: block;
  }
}
.winterSec {
  padding: 100px 0px;
}
.winterSec .winterLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.winterSec .winterLeft img {
  width: 350px;
}
.winterSec .winterRight {
  margin-top: 20px;
}
.winterSec .winterRight .heading h2 {
  font-size: 40px;
}
.winterSec .winterRight .heading h2 span {
  color: #f15a29;
}
.winterSec .winterRight .para {
  width: 70%;
  text-align: justify;
}
.winterSec .winterRight .btn {
  background-color: #f15a29;
  color: white;
  padding: 10px 30px;
  border-radius: 50px;
  text-transform: uppercase;
}
.winterSec .wacthHead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-transform: uppercase;
  line-height: 2ch;
}
.winterSec .wacthHead h1 {
  font-size: 25px;
}
.winterSec .wacthHead span {
  font-size: 50px;
  font-weight: bold;
  color: #f15a29;
}
.winterSec .watchBtnContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.winterSec .watchBtnContent .watchBtnBg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 110px;
  height: 130px;
  border-radius: 10px;
  margin-top: 50px !important;
  cursor: pointer;
}
.winterSec .watchBtnContent .watchBtnBg .watchIcnon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f15a29;
  color: white;
  font-size: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.winterSec .watchBtnContent .watchBtnBg:hover {
  background-color: #f15a29;
}
.winterSec .watchBtnContent .watchBtnBg:hover .watchIcnon {
  background-color: white;
  color: rgb(36, 36, 36);
}
.winterSec .watchBtnContent .watchBtnBg:hover .watchName {
  color: white;
}
.winterSec .watchBtnContent .watchBtnBg:focus {
  background-color: #f15a29;
}
.winterSec .watchBtnContent .watchBtnBg:focus .watchIcnon {
  background-color: white;
  color: rgb(36, 36, 36);
}
.winterSec .watchBtnContent .watchBtnBg:focus .watchName {
  color: white;
}
.winterSec .watchBtnContent .watchBtnBg:active {
  background-color: #f15a29;
}
.winterSec .watchBtnContent .watchBtnBg:active .watchIcnon {
  background-color: white;
  color: rgb(36, 36, 36);
}
.winterSec .watchBtnContent .watchBtnBg:active .watchName {
  color: white;
}

@media screen and (max-width: 600px) {
  .winterLeft img {
    width: 300px !important;
  }
  .winterRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .winterRight .heading {
    text-align: center;
  }
  .winterRight .heading h2 {
    font-size: 25px;
    font-weight: 500;
  }
  .watchBtnContent {
    overflow-x: scroll;
  }
  .watchBtnContent .watchBtnBg {
    margin-left: 10px;
    padding: 20px 30px;
  }
  .watchBtnContent .watchBtnBg .watchIcnon {
    color: white;
    width: 50px;
    height: 50px;
  }
}/*# sourceMappingURL=style.css.map */